{% extends "bootstrap/base.html" %}
{% block title %}Blogページ{% endblock %}

{% block content %}
<div class="container">
    <h1>ブログページ</h1>
        <article>
            <h2>{{ post.title }}</h2>
            <p>
                {{ post.genre }} {{ post.theme }}
            </p>
            <p>作成日時: {{ post.created_at }}</p>
            <p class="lead">{{ post.body }}</p>
            <p>
                <a href="/{{post.id}}/update" role="button">編集</a>
                <a href="/{{post.id}}/delete" role="button">削除</a>
            </p>
        </article>
</div>
{% endblock %}