{% extends "bootstrap/base.html" %}
{% block title %}新規登録ページ{% endblock %}

{% block content %}
<div class="container">
    <h1>新規登録</h1>
        <form method="POST">
            <label for="title">ジャンル</label>
            <input type="text" class="form-control" name="genre">
            <label for="title">テーマ</label>
            <input type="text" class="form-control" name="theme">
            <label for="title">タイトル</label>
            <input type="text" class="form-control" name="title">
            <label for="body">内容</label>
            <textarea type="text" class="form-control" name="body"></textarea>
            <input type="submit" class="btn btn-primary" value="新規登録">
        </form>
</div>
{% endblock %}