{% extends "bootstrap/base.html" %}
{% block title %}TOPページ{% endblock %}

{% block content %}

<div class="container">
    <h1>タイピング問題入力アプリ</h1>
    <a href="/create" role="button">新規作成画面</a>
    <a href="/logout" role="button">ログアウト</a>
        {% for post in posts %}
        <article>
            <h2><a href="/article/{{post.id}}">{{ post.title }}</a></h2>
            <p class="d-inline p-2 bg-primary text-white">作成日時: {{ post.created_at }}</p>
            <p class="lead">{{ post.body }}</p>
            <p>
                {{ post.genre }} {{ post.theme }}
            </p>
            <a href="/{{post.id}}/update" role="button">編集</a>
            <a href="/{{post.id}}/delete" role="button">削除</a>
        </article>
        {% endfor %}
</div>
{% endblock %}